body,
html {
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  /* background-color: #8cc461; */
}

.main-container {
  background-color: #8cc461;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.score-container {
  /* background-color: lightcoral; */
  /* height: 20%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  flex: 1;
}
.score-card {
  /* background-color: yellow; */
  height: 90%;
  width: 70%;
  border-radius: 10px;
  border: 5px solid white;
  display: flex;
  padding: 10px;
}
.game-name-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  padding: 10px;
  color: white;
}
.title {
  line-height: 0;
}
.score-display-section {
  /* background-color: aqua; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: 10px;
}
.computer-score-card,
.your-score-card {
  background-color: white;
  height: 90%;
  width: 50%;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.computer-score,
.your-score {
  font-size: 18px;
}

.computer-score-value,
.your-score-value {
  font-size: 40px;
  font-weight: bolder;
}

.game-container {
  /* background-color: pink; */
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-box {
  /* background-color: yellow; */
  width: 280px;
  height: 260px;
  position: relative;
}
.button-1 {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 12px solid #0074b6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: transform 0.9s ease;
}
.line-1 {
  height: 4%;
  width: 84%;
  background-color: black;
  position: absolute;
  top: 42px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}
.button-2 {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  border: 12px solid #ffa943;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: transform 0.9s ease;
  transform-origin: center;
}
.line-2 {
  height: 4%;
  width: 58%;
  background-color: black;
  position: absolute;
  top: 54%;
  right: 0%;
  transform: rotate(-60deg) translateY(-50%);
  z-index: 0;
}
.button-3 {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 0px;
  border: 12px solid #bd00ff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: transform 0.9s ease;
}
.line-3 {
  height: 4%;
  width: 58%;
  background-color: black;
  position: absolute;
  top: 54%;
  left: 0%;
  transform: rotate(60deg) translateY(-50%);
  z-index: 0;
}
.button-1:hover,
.button-3:hover {
  transform: scale(1.2);
}
.button-2:hover {
  transform: translateX(-50%) scale(1.2);
}

.footer {
  /* background-color: black; */
  height: 10%;
  padding: 5px;
  position: relative;
}
.rules-button {
  width: 100px;
  height: 34px;
  font-size: 14px;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  position: absolute;
  right: 2%;
  bottom: 40%;
}
.next-button {
  width: 100px;
  height: 34px;
  font-size: 14px;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  position: absolute;
  right: 8%;
  bottom: 40%;
}

.game-rules-box {
  background-color: #004429;
  color: white;
  padding: 10px;
  border: 6px solid white;
  border-radius: 10px;
  width: 24%;
  position: absolute;
  right: 20px;
  bottom: 100px;
  display: none;
}
.game-rule {
  font-size: 22px;
  display: flex;
  justify-content: center;
}

.list {
  list-style-type: square;
}
li {
  margin-bottom: 16px;
  font-size: 16px;
}
.cross-button {
  background-color: #ff0000;
  width: 40px;
  height: 40px;
  border: 5px solid white;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -20px;
  top: -24px;
}
.game-result-box {
  display: none;
  align-items: center;
  justify-content: center;
}
.you-picked-button {
  background-color: white;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: absolute;
  left: 240px;
  border: 10px solid#BD00FF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.pc-picked-button {
  background-color: white;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: absolute;
  right: 240px;
  border: 10px solid #ffa943;
  display: flex;
  align-items: center;
  justify-content: center;
}
.result-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.text-box1 {
  background-color: #8cc461;
  color: white;
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
}
.text-box2 {
  background-color: #8cc461;
  color: white;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
}
.play-again-button {
  background-color: white;
  color: #6b6b6b;
  height: 56px;
  width: 240px;
  border-radius: 10px;
  border: 5px solid white;
  font-size: 20px;
  font-weight: bolder;
  position: absolute;
  bottom: -66px;
}
.paper-image,
.scissor-image,
.rock-image {
  display: none;
}
.pc-paper-image,
.pc-scissor-image,
.pc-rock-image {
  display: none;
}
.winner-button-border {
  box-shadow: 0 0 0 26px #289a27, 0 0 0 54px #32a62f, 0 0 0 82px #66b248;
}
.you-picked-box {
  color: white;
  position: absolute;
  top: 49%;
  left: 20%;
  z-index: 1;
}
.pc-picked-box {
  color: white;
  position: absolute;
  top: 49%;
  right: 20%;
  z-index: 1;
}
.main-container-2 {
  background-color: #89c15e;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  display: none;
}
.hurray-logo-box {
  /* background-color: rgb(0, 105, 128); */
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.vector-logo {
  height: 50%;
  position: absolute;
  top: 46%;
}
.hurray-textbox1 {
  /* background-color: rgb(128, 0, 119); */
  height: 19%;
  color: white;
  font-size: 80px;
  font-weight: bolder;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.hurray-textbox2 {
  /* background-color: rgb(128, 0, 62); */
  height: 19%;
  color: white;
  font-size: 36px;
  font-weight: bolder;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.play-again-section {
  /* background-color: rgb(128, 96, 0); */
  height: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.play-again-button1 {
  height: 46px;
  width: 180px;
  background-color: white;
  color: #6b6b6b;
  border-radius: 10px;
  border: 5px solid white;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  position: absolute;
  bottom: 10%;
}
.star-1 {
  position: absolute;
  height: 26%;
  left: 30%;
  top: 50%;
}
.star-2 {
  position: absolute;
  height: 22%;
  right: 40%;
  top: 14%;
}
.star-3 {
  position: absolute;
  left: 42%;
  top: 16%;
}
.star-4 {
  position: absolute;
  top: 26%;
  left: 47%;
}
.star-5 {
  position: absolute;
  top: 88%;
  left: 39%;
}
.star-6 {
  position: absolute;
  height: 38%;
  right: 34%;
  top: 60%;
}
.star-7 {
  position: absolute;
  right: 36%;
  top: 38%;
}
.star-8 {
  position: absolute;
  top: 68%;
  left: 42%;
}
.star-9 {
  position: absolute;
  height: 22%;
  left: 38%;
  top: 28%;
}

@keyframes expandBorder {
  0% {
    box-shadow: 0 0 0 0 #289a27, 0 0 0 0 #32a62f, 0 0 0 0 #66b248;
  }
  100% {
    box-shadow: 0 0 0 26px #289a27, 0 0 0 54px #32a62f, 0 0 0 82px #66b248;
  }
}

.winner-button-border {
  animation: expandBorder 0.5s ease-in-out forwards;
}
